TEACHER_USER=tanar
TEACHER_PASS=ide_irj_eros_jelszot
DURATION_MIN=160
DATA_KEY=hosszu_veletlen_titkos_szoveg
COOKIE_SECURE=1
HELP_COST=5
STUDENT_SESSION_LIMIT=1
#REQUIRE_SHARE=0   # ha ideiglenesen ki akarod kapcsolni a kötelező képernyőmegosztást
